body { 
  height: 100vh;
  margin: 0;
  font-family: 'M PLUS 1', sans-serif;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

header {
  min-height: 50px;
  background-color: #9A8B4F;
  color: white;
}

.main-content {
  width: 80%;
  align-self: center;
  flex-grow: 1;
}

section {
  margin: 50px 0;
}

footer { 
  min-height:50px; 
  background-color: #363945;
  color: white;
  margin-top:auto; 
}

header, footer {
  flex-shrink: 0;
}

.title {
  font-size: 30px;
}

.one-col {
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.two-cols {
  display: flex;
  justify-content: space-between;
}

.two-cols img {
  max-height: 300px;
}
 
.col {
  margin: 10px;
  flex-basis: 50%;
}

.col--text {
  padding: 20px;
}
