body {
  height: 100vh;
  margin: 0;
  font-family: "M PLUS 1", sans-serif;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

header {
  min-height: 50px;
  background-color: #9a8b4f;
  color: white;
}

.main-content {
  width: 80%;
  align-self: center;
  flex-grow: 1;
}

section {
  margin: 50px 0;
  border: 1px solid #d3cfbf;
}

footer {
  min-height: 50px;
  background-color: #363945;
  color: white;
  margin-top: auto;
}

header,
footer {
  flex-shrink: 0;
}

a{
  text-decoration: none;
}


.title {
  font-size: 35px;
}

.one-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.two-cols {
  display: flex;
  justify-content: space-between;
}

.two-cols img {
  max-height: 300px;
}

.col {
  margin: 10px;
  flex-basis: 50%;
}

.col--text {
  padding: 20px;
}

nav {
  background-color: #363945;
}

.navbar {
  display: flex;
  list-style-type: none;
  margin: 0px;
  position: relative;
}

.navbar li {
  padding: 10px;
  font-size: 25px;
}

.navbar a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

.navbar li:hover {
  background-color: #9a8b4f;
}

.main-menu {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .two-cols {
    flex-direction: column-reverse;
  }
}

.col--user-info {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}

.one-col--user-info {
  align-items: center;
}

.one-col--user-info > * {
  margin: 10px 0;
}

.menu-element--selected {
  background-color: #9a8b4f;
  color: white;
}

.col--user-info input,
.col--user-info button,
.link-button {
  width: 35%;
  margin: auto;
  text-align: center;
  height: 30px;
  padding: 3px;
}

.link-button {
  border: solid 1px black;
}

.button {
  margin-top: 3px;
  margin-bottom: 3px;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
}

.link-button:link,
.link-button:visited,
.link-button:hover,
.link-button:active {
  text-decoration: none;
  color: black;
}


.link-button:hover {
  background-color: #939597;
  color: white;
  border-color: #939597;
}

.link-control-button:link,
.link-control-button:visited,
.link-control-button:hover,
.link-control-button:active {
  background-color: white; 
  text-decoration: none;
  color: black; 
  border: none;
  font-family: "M PLUS 1", sans-serif;
  font-size: 2px;
  
}


.link-control-button:hover{
  background-color: white;
  color: #939597;
  border-color: #939597;
}

.button_submit{
  background-color: white; 
  text-decoration: none;
  color: black; 
  border: none;
  font-family: "M PLUS 1", sans-serif;
  font-size: 20px;
}

.button_submit:hover{
  background-color: white;
  color: #939597;
  border-color: #939597;
  cursor:pointer;
}

#login,
#logout {
  position: absolute;
  right: 10px;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: white;
  color: #47525e;
  border-radius: 10px;
  font-weight: bolder;
}

#login:hover,
#logout:hover {
  cursor: pointer;
}

/* anfahrt */

#location__wrapper {
  display: flex;
  padding-top: 20px;
}

#location {
  max-width: 50vw;
}

#location__infos {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  background-color: rgb(241, 241, 241);
  margin-left: 20px;
  border-radius: 10px;
}

#location__header {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 30px;
}

/* menu */

#menu__wrapper {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
}

#menu__header {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 30px;
}

#menu__plates {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.menu__plate img {
  width: 20vw;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2); ;
}

/* login */

#overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #93959738;
  backdrop-filter: blur(10px);
  display: none;
  opacity: 0;
}

.modal {
  z-index: 11;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  padding: 20px 60px;
  border-radius: 10px;
  opacity: 0;
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 2rem;
  font-weight: bolder;
  color: gray;
  transition: 0.5s;
}

.modal__close:hover {
  cursor: pointer;
  color: rgb(218, 0, 0);
}

.modal__title {
  font-size: 4rem;
  font-weight: bolder;
  margin: 20px 0;
}

.modal__input {
  margin: 10px 0;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
}

#modal__submit {
  background-color: #47525e;
  color: white;
  padding: 15px;
  margin: 10px 0;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
}

#modal__submit:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

#modal__forgetPassword:hover {
  cursor: pointer;
}

#modal__error {
  display: none;
  color: red;
  font-weight: bolder;
  font-size: small;
}

.selectable:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

/* Employee */

#employee__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
}

#employee__options {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

#employee__options > * {
  padding: 5px;
}

#employee__options > button {
  color: white;
  background-color: #47525e;
  border-radius: 5px;
  padding: 5px 15px;
}

#employee__options > button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.employee__reservation {
  background-color: rgb(245, 245, 245);
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.employee__changeReservation {
  height: fit-content;
  padding: 10px;
  border: 3px solid #47525e;
  border-radius: 10px;
  background-color: white;
  font-size: 1rem;
}

.employee__changeReservation:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

@media screen and (max-width: 1100px) {
  .col--user-info input,
  .col--user-info button,
  .link-button {
    width: 100%;
  }
}
